

.container{
    display: flex;
    flex-direction: column;
    padding: 0 35%;
    align-items: center;

}

.containerAlgorithm{
    display: flex;
    align-items: center;
}

.textAlignCenter{
    text-align: center;
    align-items: center;
}

#SVRBlock{
    display: none;
}

#DecissionTreeBlock{
    display: none;

}

/*.hideFirstTime{*/
/*    display: none;*/
/*}*/